<div class="top-row ps-3 navbar navbar-dark">
      <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="">
            <img class="logo" src="./WealthWiseLogo1.png" alt="WealthWise logo" />
            <span class="brand-text">WealthWise-AI</span>
        </a>
        <button title="Navigation menu" class="navbar-toggler ms-auto" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="financial-advisor">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Financial Advisor
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="portfolio">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Portfolio Overview
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="financial-chat">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Financial Chat
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
